@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$pink: #910e74;
$lightPink: #f086d9;
$bbPink:#f87ddd31;
$white: #ffffff;
$darkGrey: #524f4f;
$grey: #CCCCCC;
$red: #e61010;
$cyan: #2ab8d1;

$shadow: 5px 5px 10px rgba(54, 46, 46, 0.445);
$shadowInput: 0px 2px 3px rgba(54, 46, 46, 0.363);